.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100px;
    width: 100%;

    background-color: var(--background-black);
    padding: 1.5rem 2.6875rem;


    /* width: 100%;
    height: 5.25rem;
    background-color: var(--background-black);
    padding: 1.5rem 2.687rem; */
}

.nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav h1{
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
    color: var(--logo-color);
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
 
}

.nav ul li{
    font-size: 13.36px;
    line-height: 27px;
    letter-spacing: 0.9px;

    &:hover{
        color: var(--logo-color);
    }
}